.annotation-frame{
  position:relative;
  overflow:hidden;
  width:100%;
  background-color:gray;

  &--image{
    height:100%;

  }

  &--video > video{
    height:auto;

  }


  &--video > .video-controller{
    height:15%;
  }

  &__canvas{
    position:absolute;
    min-width:100%;
    min-height:100%;
    top:0;
    left:0;
    background:transparent;
    z-index: 10;
  }



}
