.annotation-frame{
  position:relative;
  border:5px solid black;
  overflow:hidden;
  height:100%;
  max-width:92%;


  &__canvas{
    position:absolute;
    min-width:100%;
    min-height:100%;
    top:0;
    left:0;
    background:transparent;
    z-index: 10;
  }



}
