@import "../base/variables";
.bounding-box-view {
  height:100%;
  width:9rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top:1.5rem;

  & > button {
    margin-top:1rem;
    margin-bottom:1rem;
  }

}
